<!-- <p>karina works!</p> -->
<div class="card">
    <img src="../../assets/karina.jpg" alt="" class="kari">
    <div class="app">
        <h1 class="black">BLACK IS THE NEW BLACK</h1>
        <p class="khan">KAREENA KAPOOR KHAN IS KOSMO RIDER</p>
        <div class="btns">
            <button class="looks"><strong>CURATED LOOKS</strong> </button>
            <button class="kosmo"><strong>KOSMO RIDER</strong></button>
            <button class="ever"><strong>EVERSCLPT</strong></button>
        </div>
    </div>
</div>
