<!-- <p>footer works!</p> -->
<div class="foot">
    <div class="line">    
        <p class="line1"></p>
        <p class="line2"></p>
        <p class="line3"></p>
    </div>
    <div class="support">
        <h3 class="supports">Support</h3>
        <p class="us">contact us</p>
        <p class="promo">promotion & sale </p>
        <p class="track">Track order</p>
        <p class="privacy">Privacy policy</p>
        <p class="return">Intiate Return</p>
    </div>
    <div class="faq">
        <p class="first">FAQ's</p>
        <p class="my">My account</p>
        <p class="return">Return policy</p>
        <p class="terms">Terms & conditions</p>
        <p class="cookie">Cookie settings</p>
    </div>
    <div class="about">
        <p class="out">About</p>
        <div class="bal">
        <p class="com">Company</p>
        <p class="press">press center</p>
        <p class="sus">sustainability</p>
        <p class="store">store Finder</p>
    </div>
    </div>
    <div class="coroprate">
        <p class="new">Corporate News</p>
        <p class="invest">Investors</p>
        <p class="car">Careers</p>
    </div>
</div>
