<div class="card">
    <div class="app">
        <img src="//cdn.sanity.io/images/qa41whrn/prod/d7b856b81df0130586216d81e87ab28c16dc7a68-1536x1536.gif?w=2160&amp;q=80&amp;" alt="" class="img">
        <img src="../../assets/shoe.jpg" alt="" class="shoe">
    </div>
</div>
<div class="puma">
    <img src="../../assets/pum2.png" alt="" class="puma2">
    <!-- <img src="../../assets/suabe2.png" alt="" class="squabe"> -->
    <p class="spong"><strong> PUMA x  SPONGEBOB</strong></p>
<h3 class="waves">MAKING WAVES</h3>
<div class="btns">
<button class="shop"><strong> SHOP ADULTS</strong></button>
<button class="kids"><strong>SHOP KIDS</strong></button>
<BUtton class="explore"><strong>EXPLORE COLLECTION</strong></BUtton>
</div>
</div>