<!-- <p>video works!</p> -->
<div class="card">
    <video class="w-full" autoplay="" controlslist="nodownload nofullscreen" disablepictureinpicture="" disableremoteplayback="" controls muted="" playsinline=""  loop=""><source src="https://cdn.sanity.io/files/qa41whrn/prod/d0e426e3915a2f3845569ffe9a00772dac3b8edb.mp4"></video>
  <div class="content">
    <h1 class="rss"> <strong> RS-X</strong></h1>
    <h3 class="for">FOREVER FASTER</h3>
    <button class="shop"><b> SHOP NOW</b></button>
  </div>
</div>
