.card{
    margin-top: 300px;
}.feri{
    width: 1870px;
    height: 600px;
}.black{
    width: 1870px;
    height: 600px;
}.since{
    width: 1870px;
    height: 600px;
}.vi{
    width: 1870px;
    height: 600px;
}