<div class="card">
    <p class="para"> <strong> <b> EXTRA 5% INSTANT DUSCOUNT FOR ALL ONLINE PAYMENTS.FREE DELIVERY.FREE RETURNS</b></strong> </p>
</div>
<div class="app">
    <img src="../../assets/2.png" alt="" class="puma">
    <p class="new"><strong> New Arrivals</strong></p>
    <p class="women"> <strong>Women</strong></p>
    <p class="men"><strong>Men</strong></p>
    <p class="kids"><strong>Kids</strong></p>
    <p class="moto"><strong>motosport</strong></p>
    <p class="collab"><strong>collaboration</strong></p>
    <p class="sport"><strong>sports</strong></p>
    <p class="out"><strong>outlet</strong></p>
    <input type="text" placeholder="SEARCH PUMA.COM" class="search">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">

</div>
<div class="yellow">
    <h3 class="extra">Extra 10% off on orders above $3999 </h3>
    <p class="auto">Auto-applied at checkout</p>
</div>