<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-upper></app-upper>
  <app-card></app-card>
  <app-loop></app-loop>
  <app-karina></app-karina>
  <app-workout></app-workout>
  <app-white></app-white>
  <app-four></app-four>
  <app-top></app-top>
  <app-yellow></app-yellow>
  <app-video></app-video>
  <app-ferrari></app-ferrari>
  <app-card2></app-card2>
  <app-footer></app-footer>
</body>
</html>