.app{
    width: 550px;
    height: 650px;
    /* background-color: red; */
    margin: 60px;
    /* margin-top: -160px; */
    display: grid;
    gap: 5%;
    grid-template-columns: 1fr 1fr 1fr;
}.img{
    width: 570px;

    height: 550px;
    /* margin: 60px; */
    margin-top: 100px;
}.gear{
    padding: 40px;
    transform: translateY(150px);
    text-align: center;
    font-size: 30px;
}.time{
    text-align: center;
    font-size: 30px;
}.shopss{
    margin-left: 140px;
    height: 60px;
    width: 290px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
}